[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[init]
	defaultBranch = master
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicprefix = true
[commit]
	verbose = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = -version:refname
[rerere]
	enabled = true
	autoupdate = true
[user]
	name = Lisovskii Ivan
	email = daymedead.dev@gmail.com
[credential]
	helper = store

[includeIf "gitdir:/Users/ivan/dev/work/new.editor.mir.1t.ru/"]
	path = /Users/ivan/.config/git/config-mir1t
[includeIf "gitdir:/Users/ivan/dev/work/new.editor.mir.1t.ru/.git/worktrees/"]
	path = /Users/ivan/.config/git/config-mir1t
